# Python / env
__pycache__/
*.py[cod]
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets (NE PAS committer)
.streamlit/secrets.toml

# autres fichiers sensibles (ajoute si besoin)
.env
